<div class="col-3">
    <div class="row">
        <a asp-controller="Order" asp-action="Orders" asp-area="Admin">Заказы</a>
    </div>
    <div class="row">
        <a asp-controller="User" asp-action="Index" asp-area="Admin">Пользователи</a>
    </div>
    <div class="row">
        <a asp-controller="Role" asp-action="Roles" asp-area="Admin">Роли</a>
    </div>
    <div class="row">
        <a asp-controller="Product" asp-action="Products" asp-area="Admin">Продукты</a>
    </div>
</div>