@model ChangePassword

<div class="row text-center">
    <div class="col">
        <h3>Смена пароля</h3>
    </div>
</div>

<form method="post">
    <div class="row text-center">
        <div class="col">
            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
            <input type="hidden" name="Name" value="@Model.Name" />
            <div class="col-12">
                <label asp-for="OldPassword">Введите старый пароль:</label>
                <br>
                <input type="password" asp-for="OldPassword">
                <span asp-validation-for="OldPassword"></span>
            </div>
            <br>
            <div class="col-12">
                <label asp-for="Password">Введите новый пароль:</label>
                <br>
                <input type="password" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <br>
            <div class="col-12">
                <label asp-for="ConfirmPassword">Подтвердите новый пароль:</label>
                <br>
                <input type="password" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <br>
            <br>
            <a>
                <button type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Изменить</button>
            </a>
        </div>
    </div>
</form>